body{
	background-color: black;
	height: 100px;
}
.yazı{
	padding-left: 20px;
	color: pink;
	margin-left: 10px;
	line-height: 100px;
	font-size: 40px;
}
.kutu{
	text-align: center;
	line-height: 50px;
	background-color: white;
	width: 500px;
	height: 450px;
	margin-top: 150px;
	margin-left: 750px;
	border-radius: 50px;
}
.menu ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}
.menu ul a{
	display: block;
	width: 150px;
	height: 40px;
	float: right;
	margin-top: 10px;
	background-color: black;
	color: white;
	margin-right: 2px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
    transition: all 2s;
}
.menu ul a:hover{
  background-color: darkgray;
}
.content {
	z-index: 1;
	margin-top: 50px;
	align-items: center;
	position: relative;
	top: 100px;

  }
  .column {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
	border-radius: 1rem;
	backdrop-filter: blur(1rem);
	width: 600px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	padding: 40px;
  }
  .column a{
	text-decoration: underline;
	font-size: 24px;
	color: white;
  }
  
  .column-2 {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
	border-radius: 1rem;
	backdrop-filter: blur(1rem);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	padding: 40px;
	margin-inline: 50px;
	margin-right: 0px;
  }
  .column h2 {
	font-size: 3rem;
	color: white;
  }
  .column-2 h2 {
	font-size: 3rem;
	color: black;
  }
  
  .column h3 {
	font-size: 1.5rem;
	/* color:cadetblue; */
  }
  
  .column p {
	font-size: 1.5rem;
	color: white;
	line-height: 2.25rem;
  }
  .return {
    filter: invert(100%);
    outline: none;
    border: none;
    width: 50px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 90px;
    padding-top: 2px;
    left: 340px;
    border-radius: 50%;
    font-size: 16px;
}
.wrapper{
	box-shadow: 0px 0px 20px red;
	width: 600px;
	height: 320px;
	position: relative;
	top: 100px;
	left: 640px;
    border-radius: 10px;
}
.kontainer *{
    font-family: "Poppins",sans-serif;
    color: white;
    font-weight: 500;
	width: 500px;
}
.kontainer h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: white;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;

    border: 2px solid #0d96e0;

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;


}

.skills:not(:last-child){
    margin-bottom: 30px;
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}

#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 40%;
    }
}


::selection {
    background: var(--black);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white); 
}

::-webkit-scrollbar-thumb {
    background: var(--black); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
}
.footer {
    text-align: center;
    z-index: 999;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
    color: white;
    position: relative;
    top: 40px;
    font-family: "Poppins";
}
