body{
    height: 200px;
}
.background-video {
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.5);
}
.return {
    filter: invert(100%);
    outline: none;
    border: none;
    width: 50px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 90px;
    padding-top: 2px;
    left: 340px;
    border-radius: 50%;
    font-size: 16px;
}
.info{
    filter: invert(100%);
   text-decoration: none;
    outline: none;
    border: none;
    width: 20px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: absolute;
    top: 90px;
    padding-top: 2px;
    right: 340px;
    border-radius: 100%;
    font-size: 16px;
}
.info a{
    text-decoration: none;
}
.info p{
    font-size: 21px;
    color: black;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    right: 28px;
    font-family: "Poppins";
}
.info img{
    width: 40px;
}
.footer {
    text-align: center;
    z-index: 999;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
    color: white;
    position: relative;
    top: 640px;
    font-family: "Poppins";
}
.fa {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.me span{
    color: white;
}
.me h1{
    color: darkred
}
.me{
    position: relative;
    top: 400px;
}

.social {
    filter: invert(100%);
    text-decoration: none;
    float: left;
    display: block;
    width: 20px;
    padding: 0px 7px;
    opacity: 100%;
    color: var(--black);
    font-size: 20px;
    position: relative;
    left: 890px;
}

.social:hover {
    opacity: 100%;
    transform: scale(1.2);
}
.me p{
    text-decoration: none;
    color: white;
    font-size: 24px;
}