body{
	background-color: black;
}
.yazı{
	
	color: pink;
	margin-left: 10px;
	line-height: 100px;
	font-size: 40px;
	margin-bottom: 400px;
}
.menu ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
}
.menu ul a{
	display: block;
	width: 150px;
	height: 40px;
	float: right;
	margin-top: 10px;
	background-color: black;
	color: white;
	margin-right: 2px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
    transition: all 2s;
}
.menu ul a:hover{
  background-color: darkgray;
}