body{
	background-image: url(images/arkaplan.png);
}
.container{
	background-color: white;
	margin:auto;
	width: 600px;
	height: 500px;

}
.nav{
	/*background-color: pink;*/
	height: 40px;
}
.nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;}
.nav ul a{
	color:black;
	text-decoration: none;
	display: block;
	width:118px;
	height: 40px;
	background-color: pink;
	float: left;
	text-align: center;
	line-height: 40px;
	margin-right: 1px;
	margin-left: 1px;
}
.nav ul a:hover{background-color: maroon; color:white;}
.content{
	background-color: pink;
}